.cell {
  background-color: blue;
  height: 10em;
}

.indication {
  background-color: green;
  height: 10em;
  margin: 0 !important;
  padding: 0 !important;
}

.indication-top {
  height: 50%;
  background-color: green;
}

.indication-bottom {
  height: 50%;
  background-color: red;
}
