body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.cell {
  background-color: blue;
  height: 5em;
}

.cell-covered {
  cursor: pointer;
}

.indication {
  /*background-color: green;*/
  height: 5em;
  vertical-align: middle;
}

.indication-top {
  height: 50%;
  background-color: green;
}

.indication-bottom {
  height: 50%;
  background-color: red;
}

.abstract-cell {
  margin: 0 !important;
  padding: 0 !important;
  border: 1px solid black;
}

.cell-content {
  font-size: 2rem;
}

.score-row {
  font-size: 1.5rem;
}
